body
{
	height: 100%;
	margin: 0;
}
html
{
	height: 100%;
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: white;
  color: black;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.first_frame
{
	background-image: url("scale_1200.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.background_filter
{
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.menu
{
	position: relative;
	display: flex;
	justify-content: flex-end;
	top: 110px;
	right: 120px;
}
.pricing_text
{
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
	align-items: center;
	margin-top: 0;
	color: white;
	margin-right: 47px;
	z-index: 3;
    position: relative;
}
.news_text
{
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
	align-items: center;
	margin-top: 0;
	color: white;
	margin-right: 47px;
	z-index: 3;
    position: relative;
}
.catalogue_text
{
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
	align-items: center;
	margin-top: 0;
	color: white;
	margin-right: 47px;
	z-index: 3;
    position: relative;
}
.log_in_button
{
	background-color: #9D83DC;
	height: 55px;
	width: 140px;
	border-radius: 70px;
	font-size: 36px;
	font-family: 'Nunito', sans-serif;
	color: white;
	padding-left: 40px;
	padding-top: 5px;
	z-index: 3;
    position: relative;
}
.logo_div
{
	position: relative;
	left: 80px;
}
.welcome_div
{
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 160px;
}
.second_frame
{
	background-color: white;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.flexbox
{
	text-align: center;
	padding-top: 25%;
}
.third_frame
{
	background-color: #9D83DC;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.usability_text
{
	text-align: center;
	padding-top: 5%;
}
.offer1
{
	padding-top: 5%;
	margin-right: 3%;
}
.offer2
{
	padding-top: 5%;
	margin-right: 3%;
}
.offer3
{
	padding-top: 5%;
	margin-right: 10%;
}
.third_frame_container
{
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.fourth_frame
{
	background-image: url("BackgroundImage.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.working_text
{
	text-align: center;
	padding-top: 5%;
}
.diagram
{
	text-align: center;
	padding-top: 6%;
}
.fifth_frame
{
	background-color: #e5e5e5;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.recomend
{
	padding-top: 3%;
	text-align: center;
}
.sixth_frame
{

	background-image: url("wool_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.sixth_frame_panel
{
	height: 80%;
	width: 40%;
	background-color: white;
	position: relative;
	z-index: 2;
	text-align: center;
	margin: auto;
}
.panel_text
{
	font-size: 90px;
	padding-top: 70px;
}
.panel_button_a
{
	background-color: #9D83DC;
	height: 80px;
	width: 600px;
	color: white;
	font-size: 40px;
	border: solid 5px #9D83DC;
	border-radius: 50px;
	margin-top: 300px;
}
.panel_button_b
{
	background-color: #ffffff;
	height: 80px;
	width: 600px;
	color: 000000;
	font-size: 40px;
	border: solid 5px #000000;
	border-radius: 50px;
	margin-top: 30px;
}
